
<style>
    .box {
        transition: box-shadow .3s;
    }

        .box:hover {
            box-shadow: 0 0 11px rgba(33,33,33,.2);
        }
</style>
<div class="row text-center">
    <div class="col-md-1"></div>
    <div class="col-md-5 box">
        <a asp-action="SubmitAnimeWithUrl" class="text-decoration-none text-dark">
            <p class="display-4"> Submit With Url </p>
            <img src="https://i.imgur.com/lNZDp3O.png" height="300">
        </a>

    </div>
    <div class="col-md-5 box">
        <a asp-action="SubmitAnimeFull" class="text-decoration-none text-dark">
            <p class="display-4"> Submit full </p>
            <img src="https://i.imgur.com/3XoRF6W.png" height="300">
        </a>

    </div>
    <div class="col-md-1"></div>
</div>