@model GoodWeebs.Web.ViewModels.SubmissionInputModels.MangaSubmissionInputModel

<script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        relative_urls: false,
        remove_script_host: false,
        convert_urls: true,
        plugins: [
            "image paste table link code media fullscreen wordcount searchreplace lists"
        ]
    });
</script>

<form method="post" class="col-md-6 offset-md-3" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Synopsis"></label>
        <textarea asp-for="Synopsis" class="form-control"></textarea>
        <span asp-validation-for="Synopsis" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PictureUrl"> Picture Url </label>
        <input asp-for="PictureUrl" class="form-control" />
        <span asp-validation-for="PictureUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Type"></label>
        <select asp-for="Type" class="form-control">
            @foreach (var item in Model.TypeItems)
            {
                <option>@item</option>
            }

        </select>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Status"></label>
        <select asp-for="Status" class="form-control">
            @foreach (var item in Model.StatusItems)
            {
                <option>@item</option>
            }

        </select>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Volumes"></label>
        <input asp-for="Volumes" class="form-control" />
        <span asp-validation-for="Volumes" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Chapters"></label>
        <input asp-for="Chapters" class="form-control" />
        <span asp-validation-for="Chapters" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Published"></label>
        <input asp-for="Published" class="form-control" />
        <span asp-validation-for="Published" class="text-danger"></span>
    </div>
    </div>

    <div class="form-group">
        <label asp-for="Genres">Genres</label>
        <select asp-for="Genres" multiple class="form-control">
            @foreach (var item in Model.GenresItems)
            {
                <option>@item</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Authors"></label>
        <input asp-for="Authors" class="form-control" />
        <span asp-validation-for="Authors" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-primary" />
</form>