@model GoodWeebs.Web.ViewModels.GroupViewModel.GroupListViewModel
@using System.Text
@using System.Web
@if (Model.Groups.Count == 0)
{
    <h1>No groups :(</h1>
}
else
{
    <div class="row">
        <div class="col-md-1">   </div>

        @foreach (var group in Model.Groups)
        {
            <a asp-action="Group" asp-route-id="@group.Id" class="text-decoration-none text-dark">
                
                <div class="card box" style="width: 12rem;">
                    <img class="card-img-top img-fluid" src="@group.Picture" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@group.Name</h5>
                        @Html.Raw(group.Description)
                    </div>

                </div>
            </a>
        }
        <div class="col-md-1">   </div>
    </div>
}
<hr />
<a asp-action="CreateGroup"><button type="button" class="btn-success btn-lg text-black-50 text-decoration-none">Create Group</button></a>