@model GoodwWebs.Web.ViewModels.ShelfViewModels.ShelfViewModel

<div class="row">
    <div class="col-md-2 "></div>
    <div class="col-md-2 border-right border-light">
        <p class="lead">Watching</p>
        <hr>
        <p class="lead">WantToWatch</p>
        <hr>
        <p class="lead">Profile</p>
    </div>
    <div class="col-md-6">
        <table class="table table-dark table-striped table-hover">
            <thead class="thead-dark">

            </thead>
            <tbody>
                @foreach (var item in Model.ShelfItems)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Title</td>
                        <td><button type="button" class="btn btn-danger" asp-action="AddToRead" asp-route-id="@item.Id">Read</button></td>
                        <td><button type="button" class="btn btn-danger" asp-action="RemoveFromReading" asp-route-id="@item.Id">Remove</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>