@model GoodWeebs.Web.ViewModels.HomeViewModels.HomeViewModel
@using GoodWeebs.Common
@{
    this.ViewData["Title"] = "Home Page";
}
<h1 class="text-center display-4">Top anime recommendations for you!</h1>
<div class="row">
    
    <div class="col-md-1"></div>
        <partial name="_ReccomendationsPartial" model="@Model.AnimeReccomendations" />
</div>
<hr />
<h1 class="text-center display-4">Here are some updates from your friends!</h1>
<div class="row">

    <partial name="_UpdatesPartial" model="@Model.Updates" />

</div>






